body{
    background: linear-gradient(gray, black);
}
h1{
    text-align: center;
    font-family: arial;
    color: aliceblue;
}
h4{
    text-align: center;
    font-family: arial;
    color: aliceblue;
}
p{
    text-align: center;
    color: aliceblue;
    font-family: arial;
}

.img1{
    display: block;
    margin-left: 250px;
    margin-right: auto;
}
img{
    border-radius: 20px;
}